* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
button,
input,
textarea,
select {
  font-family: "Roboto", sans-serif;
}

body {
  padding-bottom: 90px;
}

.container {
  max-width: 1366px;
  padding-left: 64px;
  padding-right: 64px;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 93px;
}

.title {
  color: #152a41;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.subtitle {
  color: #7c8698;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid__item {
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(33.33% - 30px);
  max-width: 100%;
  min-width: 280px;
}

.card {
  background-color: #f4f5f7;
  border-radius: 16px;
  padding: 40px 40px 32px;
  text-align: center;
  transition: background-color 0.2s ease;
}

.card:hover {
  background-color: #E8ECFF;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.icon--small {
  width: 20px;
  height: 20px;
}

.icon__image {
  width: inherit;
  height: inherit;
}

.card__icon {
  margin-bottom: 31px;
}

.card__title {
  color: #152a41;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 18px;
}

.card__description {
  color: #606c82;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 21px;
}

.link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-radius: 8px;
  padding: 0 12px;
  text-decoration: none;
  box-shadow: 0 0 0 0px #37cdab;
  transition-property: box-shadow background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.link:hover {
  background-color: white;
}

.link:focus {
  box-shadow: 0 0 0 2px #37cdab;
}

.link__text {
  font-size: 14px;
  font-weight: 600;
  color: #37cdab;
  margin-right: 8px;
}

.link__icon {
  width: 20px;
}
